doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet",href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet",href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(type="text/javascript", src="https://www.google.com/jsapi")
		script(type="text/javascript").
			google.load('visualization', '1.0', {'packages':['corechart']});
			google.setOnLoadCallback(drawCharts);
			function drawCharts() 
			{
				drawSentimentChart();
				drawGenderChart();
				drawMaleSentimentChart();
				drawFemaleSentimentChart();
				drawOthersSentimentChart();
			}
			function drawSentimentChart()
			{
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Sentiment');
				data.addColumn('number', 'Count');
				data.addRows([
				['Positive', #{all_stats.pos_count}],
				['Negative', #{all_stats.neg_count}],
				['Neutral', #{all_stats.neu_count}]
				]);
				var options = {'title':'Sentiment Analysis',
				'width':400,
				'height':300};
				var chart = new google.visualization.PieChart(document.getElementById('sentiment'));
				chart.draw(data, options);
			}
			function drawGenderChart()
			{
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Gender');
				data.addColumn('number', 'Count');
				data.addRows([
				['Male', #{all_stats.male_count}],
				['Female', #{all_stats.female_count}],
				['Andyrogynous', #{all_stats.andy_count}]
				]);
				var options = {'title':'Gender Analysis',
				'width':400,
				'height':300};
				var chart = new google.visualization.PieChart(document.getElementById('gender'));
				chart.draw(data, options);
			}
			function drawMaleSentimentChart()
			{
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Male-Sentiment');
				data.addColumn('number', 'Count');
				data.addRows([
				['Positive', #{all_stats.male_pos_count}],
				['Negative', #{all_stats.male_neg_count}],
				['Neutral', #{all_stats.male_neu_count}]
				]);
				var options = {'title':'Male-Sentiment Analysis',
				'width':300,
				'height':300};
				var chart = new google.visualization.PieChart(document.getElementById('sentiment_male'));
				chart.draw(data, options);
			}
			function drawFemaleSentimentChart()
			{
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Female-Sentiment');
				data.addColumn('number', 'Count');
				data.addRows([
				['Positive', #{all_stats.female_pos_count}],
				['Negative', #{all_stats.female_neg_count}],
				['Neutral', #{all_stats.female_neu_count}]
				]);
				var options = {'title':'Female-Sentiment Analysis',
				'width':300,
				'height':300};
				var chart = new google.visualization.PieChart(document.getElementById('sentiment_female'));
				chart.draw(data, options);
			}			
			function drawOthersSentimentChart()
			{
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Others-Sentiment');
				data.addColumn('number', 'Count');
				data.addRows([
				['Positive', #{all_stats.andy_pos_count}],
				['Negative', #{all_stats.andy_neg_count}],
				['Neutral', #{all_stats.andy_neu_count}]
				]);
				var options = {'title':'Others-Sentiment Analysis',
				'width':300,
				'height':300};
				var chart = new google.visualization.PieChart(document.getElementById('sentiment_others'));
				chart.draw(data, options);
			}
	body
		div.container
			div.row
				div.col-xs-6
					center
						h1 Suits - USA
						img.img-responsive.img-rounded(src="images/Suits.jpg", width=300, height = 300,alt = 'Suits - USA', title = 'Suits - USA')
				div.col-xs-6
					br
					br
					br
					br
					div.table-responsive
						table.table.table-striped.table-bordered.table-condensed
							tr
								th.active
									b Total Tweets
								td.info #{all_stats.total_count}
							tr
								th.active
									b Total Tweets Favorited
								td.info #{all_stats.fav_count}
							tr
								th.active
									b Total Reach
								td.info #{all_stats.reach}
			div.row
				div.col-xs-6
					div#sentiment
				div.col-xs-6
					div#gender
			div.row
				div.col-xs-4
					div#sentiment_male
				div.col-xs-4
					div#sentiment_female
				div.col-xs-4
					div#sentiment_others

			